.community-page{
    position:relative;
}
.community-thanksbee{
    position:absolute;
    left:20%;
    top:25%;
    width:190px;
    height:auto;
    transform:translate(-50%, -50%);
    display:block;
    pointer-events:none;
    z-index:2;
}
@media (max-width: 700px) {
    .community-thanksbee {
        width: 150px;
        left: -20px;
        top: 280px;
        transform: none;
    }
}