.navigation{
    display:grid;
    grid-template-columns:auto 1fr auto;
    align-items:center;
    gap:2rem;
    padding:1rem 2rem;
    border:1px solid;
    border-radius:1rem;
}
.navigation__logo{
    display:flex;
    align-items:center;
}
.navigation__pages{
    display:flex;
    justify-content:center;
    align-items: center;
    gap:4rem;
    width: 100%;
}
.navigation__link{
    text-decoration:none;
    color:inherit;
}
.navigation__action{
    display:flex;
    justify-content:flex-end;
    align-items: center;
}
.navigation__logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
}