html,
body{
    margin:0;
    padding:0;
}
#site {
    display:grid;
    gap: 0.75rem;
    padding: 1rem;
}
.top-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap:1rem;
    height: 50vh;
    min-width: 0;
    box-sizing: border-box;
}
.bottom-row{
    display: grid;
    height: 45vh;
    grid-template-columns: repeat(3,1fr);
    gap:1rem;
}
.bottom-row > * {
    min-height: 0;
    box-sizing: border-box;
}
.faq-space,
.community-space{
    padding:2rem;
    border: 1px solid;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.site-navigation {
    height: 80px;
    border: 1px solid;
    border-radius: 1.5rem;
}
.live-space{
    border: 1px solid;
    border-radius: 1.5rem;
    padding: 2rem;
}