.gallery-page{
    position:relative;
}

.gallery-starbee{
    position:absolute;

    left:6rem;
    bottom:0%;
    width:300px;
    height:auto;
    transform:translateY(-50%);
    display:block;
    pointer-events:none;
    z-index:2;
}
.gallery-starbee--right{
    left:auto;
    right:6rem;

    transform:translateY(-50%) scaleX(-1);
}
@media (max-width: 700px) {
    .gallery-starbee,
    .gallery-starbee--right {
        width: 140px;
    }
    .gallery-starbee {
        left: -25px;
    }
    .gallery-starbee--right {
        left: auto;
        right: -25px;
    }
}